*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header
{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: rgba(7, 68, 7, 0.983);
    opacity: 90%;
}
.backImg
{
    position: fixed;
    background-image: url(bgbgbg.jpg);
    opacity: 80%;
}
.menu_button
{
    position: relative;
    font-size: 35px;
    text-decoration: none;
    margin: 25px;
    margin-right: 120px;
    color: rgb(255, 255, 255);

    border: solid 1px rgb(250, 250, 250);
    border-radius: 10px;
}
.main_buttons
{
    margin: 10px;
    opacity: 100%;
}
.menu_button:hover
{
    color: black;
    background-color: white;
    border-color: black;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
.great_title
{
    position: relative;
    font-size: 57px;
    color: white;
}