*
{
    box-sizing: border-box;
    width: 100%;
    border: solid 0px;
    padding: 0px;
    overflow-x: hidden;
}
body
{
    background-image: url(/pictures/kysti_fon.png);
}
.mini-katalog
{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    font-family: 'Noto Sans';
}
.kysti_dlya_ofisa
{  
    width: 16%;
    padding: 10px;
    font-size: 26px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    border-top-right-radius: 10px;
}
.kysti_dlya_dachi
{
    width: 16%;
    padding: 10px;
    font-size: 26px;
    border-right: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.kysti_dlya_doma
{
    width: 16%;
    padding: 10px;
    font-size: 26px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    border-bottom-right-radius: 10px;
}
.kysti_dlya_doma:hover
{
    color: rgb(28, 112, 28);
    background-color: white;
    border-right: 2px solid rgb(28, 112, 28);
    border-bottom: 2px solid rgb(28, 112, 28);
    padding: 20px;
}
.kysti_dlya_ofisa:hover
{   
    color: rgb(28, 112, 28);
    background-color: white;
    border-top: 2px solid rgb(28, 112, 28);
    border-right: 2px solid rgb(28, 112, 28);
    padding: 20px; 
}
.kysti_dlya_dachi:hover
{
    color: rgb(28, 112, 28);
    background-color: white;
    border-right: 2px solid rgb(28, 112, 28);
    padding: 20px; 
}
.main_page_right_panel
{

}